<script>

let tareas = [];
let nombreTarea = '';

function agregarTarea(event){
    if (event.key === 'Enter') {
        if(nombreTarea != ''){
            const tarea ={
                nombre: nombreTarea,
                estado: false
            };
            tareas.push(tarea);
            tareas = tareas;
            nombreTarea = '';
        }
    }
}

function deleteTarea(indice){
    tareas.splice(indice, 1);
    tareas = tareas;
}

function actualizarTarea(tarea, indice){
    tareas[indice].estado = !tarea.estado;
    tareas = tareas;
}
</script>

<div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <input type="text" class="form-control form-control-lg" placeholder="ingresar tarea..." 
                on:keydown={agregarTarea}
                bind:value={nombreTarea}>
                <br>
            </div>
            <div class="col-lg-6 offset-lg-3">
                <div class="card p-2">
                    {#if tareas.length === 0}
                        <h6>No hay tareas para mostrar</h6>
                    {/if}
                    <ul class="list-group">
                        {#each tareas as t, i}
                            <li class="list-group-item d-flex justify-content-around">
                                <span class="cursor" on:click={() => actualizarTarea(t, i)}>
                                    <i class={t.estado === true ? 'fas fa-check-circle text-success' : 'far fa-circle text-primary' }></i>
                                </span>
                                <h5>{t.nombre}</h5>
                                <span class="cursor text-danger" on:click={() => deleteTarea(i)}> <i class="fas fa-trash-alt"></i></span>
                            </li>
                        {/each}
                    </ul>
                </div>

            </div>
        </div>
    </div> 
</div>

<style>
    .form-control-lg{
        font-size: 1.8rem;        
    }
    input{
        text-align: center;
    }
    .cursor{
        cursor: pointer;
    }
</style>