<script>
	import Navbar from "./components/Navbar.svelte";
	import Tarea from "./components/Tarea.svelte";
</script>

<main class="fondo">
	<Navbar />
	<Tarea />
</main>

<style>
	.fondo {
		background-color: black;
		background-image: url(../assets/img/escanor.jpg);
		height: 100vh;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: center;
	}
</style>
